.sn_container {
    height: 150px;
    margin: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sn_container:hover {
    background-color: whitesmoke;
}

.lightning_icon {
    /* border: 1px solid red; */
    background-image: url(../../images/lightning-icon-black.png);
    height: 20px;
    width: 20px;
    background-size: cover;
}

.source_container {
    display: flex;
    /* text-decoration: none; */
}

.news_img {
    /* border: 1px solid red; */
    /* background-size: cover; */
    height: 100%;
    width: 150px;
    object-fit: cover;
}

.news_link {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    height: 100%;
}

/* .source {
    text-decoration: none;
} */

.news_link {
    text-decoration: none;
}

.news-div {
    padding-bottom: 16px;
}