.splash-div {
    height: 100%;
    width: 100%;
    background-color:white;
    /* padding: 30px; */
    /* background-image: url("../../images/scotty-smith.jpg"); */
}

.horse-head {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url(../../images/horse-head.png);
    background-size: cover;
}