
.money-bag-div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.money-bag-image {
    height: 75%;
    width: 75%;
    cursor: pointer;
}

.money-bag-image:hover {
    /* background-color: blue; */
    /* box-shadow: 0 0 1px 1px yellow; */
}

.money-bag-image:active {
    transform: translateY(5px);
}