/* .nav-btn {
	background-color: rgb(0, 200, 5);
	border-radius:24px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family: sans-serif;
	font-size:17px;
	padding:0px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.nav-btn:hover {
	background-color:#5cbf2a;
}
.nav-btn:active {
	position:relative;
	top:1px;
} */

.login-btn {
	border: none;
	background: none;
	cursor: pointer;
	font-weight: bolder;
}

.login-btn:hover {
	color:#6A3E39;
}

.login-form {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-around;
	
	height: 15em;
	width: 25em;

}

#modal-content {
	border-radius: 5px;
}

#login-btn {
	width: 12em;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.username {
	margin-left: auto;
	margin-right: auto;
}

.password {
	margin-left: auto;
	margin-right: auto;
}