
.login-btn {
	border: none;
	background: none;
	cursor: pointer;
	font-weight: bolder;
	color: white;
}

.login-btn:hover {
	color:#07498b;
}

.login-form {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-around;
	
	height: 15em;
	width: 25em;

}

#modal-content {
	border-radius: 5px;
}

#login-btn {
	width: 12em;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

#login-btn:active {
	transform: translateY(4px);
}

.username {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.password {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.nav-btn {
	outline: none;
}